@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

$BodyFont:       'Open Sans', sans-serif;
$HeadingsFont:   'Poppins', sans-serif;
$White:          hsl(0, 0%, 100%);  
$Black:          hsl(0, 0%, 0%);
$Shadow:         rgba( 128, 128, 128, 0.185);
$Pink:           hsl(322, 100%, 66%);
$LightPink:      hsl(322, 100%, 80%);
$LightRed:       hsl(0, 100%, 60%);
$VeryPaleCyan:   hsla(192, 86%, 92%, 0.466);
$VeryDarkCyan:   hsl(192, 97%, 15%);
$GrayishBlue:    hsl(208, 11%, 55%);
$FadingGraish:   hsla(210, 1%, 56%, 0.123);



